.button {
  @apply bg-transparent bg-[#1d1d1d] hover:text-[#1d1d1d] font-semibold text-white hover:bg-white py-2 px-4 border border-black rounded;
  @apply transition-colors duration-500 ease-in-out;
}
